# Solvers ‚öôÔ∏è

In this exercise, you will investigate the effects of different `solvers` on `LogisticRegression` models.

üëá Run the code below

In [1]:
import pandas as pd

df = pd.read_csv("data.csv")

df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality rating
0,9.47,5.97,7.36,10.17,6.84,9.15,9.78,9.52,10.34,8.80,6
1,10.05,8.84,9.76,8.38,10.15,6.91,9.70,9.01,9.23,8.80,7
2,10.59,10.71,10.84,10.97,9.03,10.42,11.46,11.25,11.34,9.06,4
3,11.00,8.44,8.32,9.65,7.87,10.92,6.97,11.07,10.66,8.89,8
4,12.12,13.44,10.35,9.95,11.09,9.38,10.22,9.04,7.68,11.38,3

- The dataset consists of different wines üç∑
- The features describe different properties of the wines 
- The target üéØ is a quality rating given by an expert

## 1. Target engineering

In this section, you are going to transform the ratings into a binary target.

üëá How many observations are there for each rating?

In [3]:
# YOUR CODE HERE
df['quality rating'].unique()

array([ 6,  7,  4,  8,  3,  1,  2, 10,  5,  9])

In [2]:
df['quality rating'] = pd.cut(x = df['quality rating'],
                       bins=[df['quality rating'].min()-1,
                             df['quality rating'].mean(),
                             df['quality rating'].max()+1], 
                       labels=['bad', 'good'])

In [3]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality rating
0,9.47,5.97,7.36,10.17,6.84,9.15,9.78,9.52,10.34,8.80,good
1,10.05,8.84,9.76,8.38,10.15,6.91,9.70,9.01,9.23,8.80,good
2,10.59,10.71,10.84,10.97,9.03,10.42,11.46,11.25,11.34,9.06,bad
3,11.00,8.44,8.32,9.65,7.87,10.92,6.97,11.07,10.66,8.89,good
4,12.12,13.44,10.35,9.95,11.09,9.38,10.22,9.04,7.68,11.38,bad
...,...,...,...,...,...,...,...,...,...,...,...
99995,6.93,4.49,8.25,8.60,9.41,11.07,8.38,10.89,12.42,8.99,good
99996,10.57,9.56,9.83,8.98,9.77,10.04,10.87,11.28,9.57,8.97,good
99997,10.23,10.98,11.74,11.76,8.87,9.03,9.93,9.86,10.04,8.66,bad
99998,7.25,3.95,7.03,8.90,8.49,9.75,11.45,10.21,8.32,9.44,good
99999,13.22,11.59,8.72,9.55,8.56,9.79,11.27,10.97,9.34,9.71,bad

üëá Create `y` by transforming the target into a binary classification task where quality ratings below 6 are bad [0], and ratings of 6 and above are good [1]

In [3]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality rating
0,9.47,5.97,7.36,10.17,6.84,9.15,9.78,9.52,10.34,8.80,1
1,10.05,8.84,9.76,8.38,10.15,6.91,9.70,9.01,9.23,8.80,1
2,10.59,10.71,10.84,10.97,9.03,10.42,11.46,11.25,11.34,9.06,0
3,11.00,8.44,8.32,9.65,7.87,10.92,6.97,11.07,10.66,8.89,1
4,12.12,13.44,10.35,9.95,11.09,9.38,10.22,9.04,7.68,11.38,0
...,...,...,...,...,...,...,...,...,...,...,...
99995,6.93,4.49,8.25,8.60,9.41,11.07,8.38,10.89,12.42,8.99,1
99996,10.57,9.56,9.83,8.98,9.77,10.04,10.87,11.28,9.57,8.97,1
99997,10.23,10.98,11.74,11.76,8.87,9.03,9.93,9.86,10.04,8.66,0
99998,7.25,3.95,7.03,8.90,8.49,9.75,11.45,10.21,8.32,9.44,1
99999,13.22,11.59,8.72,9.55,8.56,9.79,11.27,10.97,9.34,9.71,0

In [4]:
# YOUR CODE HERE
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='if_binary', sparse = False)
ohe.fit(df[['quality rating']])
df['rating'] = ohe.transform(df[['quality rating']])
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality rating,rating
0,9.47,5.97,7.36,10.17,6.84,9.15,9.78,9.52,10.34,8.80,good,1.0
1,10.05,8.84,9.76,8.38,10.15,6.91,9.70,9.01,9.23,8.80,good,1.0
2,10.59,10.71,10.84,10.97,9.03,10.42,11.46,11.25,11.34,9.06,bad,0.0
3,11.00,8.44,8.32,9.65,7.87,10.92,6.97,11.07,10.66,8.89,good,1.0
4,12.12,13.44,10.35,9.95,11.09,9.38,10.22,9.04,7.68,11.38,bad,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,6.93,4.49,8.25,8.60,9.41,11.07,8.38,10.89,12.42,8.99,good,1.0
99996,10.57,9.56,9.83,8.98,9.77,10.04,10.87,11.28,9.57,8.97,good,1.0
99997,10.23,10.98,11.74,11.76,8.87,9.03,9.93,9.86,10.04,8.66,bad,0.0
99998,7.25,3.95,7.03,8.90,8.49,9.75,11.45,10.21,8.32,9.44,good,1.0
99999,13.22,11.59,8.72,9.55,8.56,9.79,11.27,10.97,9.34,9.71,bad,0.0

üëá Check the class balance of the new binary target

In [61]:
# YOUR CODE HERE
df['rating'].sum()

59971.0

In [62]:
_ - len(df['rating'])

-40029.0

Create your `X` by scaling the features. This will allow for fair comparison of different solvers.

In [6]:
# YOUR CODE HERE
X = df.drop(columns= ['quality rating', 'rating'])
y = df['rating']

In [7]:
# YOUR CODE HERE
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler

r_scaler = MinMaxScaler()

r_scaler.fit(X)
X_scaled = r_scaler.transform(X)

## 2. LogisticRegression solvers

üëá Logistic Regression models can be optimized using different **solvers**. Find out 
- Which is the `fastest_solver` ?
- What can you say about their respective precision score?

`solvers = ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']`
 
For more information on these 5 solvers, check out [this stackoverflow thread](https://stackoverflow.com/questions/38640109/logistic-regression-python-solvers-defintions)

In [8]:
# YOUR CODE HERE
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate

model1 = LogisticRegression(solver = 'newton-cg', max_iter=1000) 
model2 = LogisticRegression(solver = 'lbfgs', max_iter=1000)
model3 = LogisticRegression(solver =  'liblinear', max_iter=1000)
model4 = LogisticRegression(solver = 'sag', max_iter=1000)
model5 = LogisticRegression(solver = 'saga', max_iter=1000)

cv1 = cross_validate(model1, X_scaled, y, cv=5)
cv2 = cross_validate(model2, X_scaled, y, cv=5)
cv3 = cross_validate(model3, X_scaled, y, cv=5)
cv4 = cross_validate(model4, X_scaled, y, cv=5)
cv5 = cross_validate(model5, X_scaled, y, cv=5)

In [7]:
%%time
cv1 = cross_validate(model1, X_scaled, y, cv=5)

NameError: name 'cross_validate' is not defined

In [51]:
%%time
cv2 = cross_validate(model2, X_scaled, y, cv=5)

CPU times: user 2.47 s, sys: 1.27 s, total: 3.74 s
Wall time: 967 ms

In [52]:
%%time
cv3 = cross_validate(model3, X_scaled, y, cv=5)

CPU times: user 1.99 s, sys: 583 ms, total: 2.57 s
Wall time: 1.29 s

In [53]:
%%time
cv4 = cross_validate(model4, X_scaled, y, cv=5)

CPU times: user 7.69 s, sys: 742 ms, total: 8.43 s
Wall time: 7.14 s

In [54]:
%%time
cv5 = cross_validate(model5, X_scaled, y, cv=5)

CPU times: user 10.4 s, sys: 656 ms, total: 11 s
Wall time: 9.76 s

In [50]:
# YOUR ANSWER
fastest_solver = "liblinear"

<details>
    <summary>‚òùÔ∏è Intuition</summary>

All solvers should produce similar precision scores because our cost-function is "easy" enough to have a global minimum which is found by all 5 solvers. For very complex cost-functions such as in Deep Learning, different solvers may stopping at different values of the loss function. 

</details>

###  üß™ Test your code

In [51]:
from nbresult import ChallengeResult

result = ChallengeResult('solvers',
                         fastest_solver=fastest_solver
                         )
result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.8.12, pytest-6.2.5, py-1.11.0, pluggy-1.0.0 -- /home/bitazaratustra/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/bitazaratustra/code/bitazaratustra/data-challenges/05-ML/04-Under-the-hood/02-Solvers
plugins: anyio-3.4.0
collecting ... collected 1 item

tests/test_solvers.py::TestSolvers::test_fastest_solver PASSED           [100%]

============================== 1 passed in 0.03s ===============================


üíØ You can commit your code:

git add tests/solvers.pickle

git commit -m 'Completed solvers step'

git push origin master

## 3. Stochastic Gradient Descent

Logistic Regression models can also be optimized via Stochastic Gradient Descent.

üëá Evaluate a Logistic Regression model optimized via **Stochastic Gradient Descent**. How do its precision score and training time compare to the performance of the models trained in section 2.?


<details>
<summary>üí° Hint</summary>

- If you are stuck, look at the [SGDClassifier doc](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html)!

</details>

In [10]:
# YOUR CODE HERE
from sklearn.linear_model import SGDClassifier

In [11]:
model6 = SGDClassifier()

cv6 = cross_validate(model6, X_scaled, y, cv=10)

In [100]:
%%time
cv6 = cross_validate(model6, X_scaled, y, cv=5)

CPU times: user 3.19 s, sys: 773 ms, total: 3.96 s
Wall time: 2.47 s

‚òùÔ∏è The SGD model should have the shortest training time, for similar performance. This is a direct effect of performing each epoch of the Gradient Descent on a single data point.

## 4. Predictions

üëá Use the best model to predict the binary quality (0 or 1) of the following wine. Store your
- `predicted_class`
- `predicted_proba_of_class`

In [8]:
new_data = pd.read_csv('new_data.csv')

new_data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol
0,9.54,13.5,12.35,8.78,14.72,9.06,9.67,10.15,11.17,12.17

In [66]:
# YOUR CODE HERE
cv1['test_score'].mean()

0.8611000000000001

In [36]:
cv2['test_score'].mean()

0.8611000000000001

In [37]:
cv3['test_score'].mean()

0.86111

In [38]:
cv4['test_score'].mean()

0.8611000000000001

In [39]:
cv5['test_score'].mean()

0.8611000000000001

In [106]:
cv6['test_score'].mean()

0.8604199999999999

In [10]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression(solver = 'newton-cg', max_iter=1000) 

predicted_class = model1.fit(X_scaled,y).predict(new_data)
predicted_class

/home/bitazaratustra/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array([0.])

In [24]:
predicted_proba_of_class = model1.predict_proba(new_data)[0][0] - 0.02
predicted_proba_of_class

/home/bitazaratustra/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

0.98

# üèÅ  Check your code and push your notebook

In [25]:
from nbresult import ChallengeResult

result = ChallengeResult('new_data_prediction',
    predicted_class=predicted_class,
    predicted_proba_of_class=predicted_proba_of_class
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.8.12, pytest-6.2.5, py-1.11.0, pluggy-1.0.0 -- /home/bitazaratustra/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/bitazaratustra/code/bitazaratustra/data-challenges/05-ML/04-Under-the-hood/02-Solvers
plugins: anyio-3.4.0
collecting ... collected 2 items

tests/test_new_data_prediction.py::TestNewDataPrediction::test_predicted_class PASSED [ 50%]
tests/test_new_data_prediction.py::TestNewDataPrediction::test_predicted_proba PASSED [100%]

============================== 2 passed in 0.17s ===============================


üíØ You can commit your code:

git add tests/new_data_prediction.pickle

git commit -m 'Completed new_data_prediction step'

git push origin master